.hola-badge {
  display: inline-block;
  margin: 0 5px;
  font-weight: 400;
  line-height: 1;
  font-size: .8rem;
  padding: 6px;
  background: var(--hola-primary-color);
  color: var(--hola-text-light-color) !important;
}

.hola-badge.hola-badge-radii {
  padding: 6px 12px;
  border-radius: 999rem;
}

.hola-badge-light,
.hola-vmenu-item-active .hola-badge {
  background: var(--hola-bg-on-dark);
  font-weight: normal;
}

@media (max-width: 700px) {
  .hola-badge {
    font-size: .8rem;
  }
}
